.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .title {
    text-align: center;
  }

  .controlGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px; /* 요소 간 간격 */
    width: 100%;
  }

  .controlItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    label {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-bottom: 8px;
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .inputNumber {
      width: 60px;
      text-align: center;

      @media (min-width: 768px) {
        width: 80px;
        font-size: 16px;
      }

      input {
        text-align: center;
      }
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
