.hero {
  padding: 0 30px 20px 30px;
  text-align: center;

  .content {
    max-width: 800px;
    margin: 0 auto;

    .heroHighlight {
      color: $primary-color;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
    }

    .heroText {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      line-height: 1.6;
      color: darken($text-color, 20%);
    }
  }
}
