.card {
  width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .ant-skeleton-input {
    border-radius: 4px;
  }
}

.numbersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.skeletonCircle {
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: inline-block;
}

.bonusPlus {
  font-size: 18px;
  margin: 0 8px;
  color: #ccc;
}

.bonus {
  background-color: #ffd6e7;
}
.prizeInfo {
  margin-top: 16px;
  text-align: center;

  .ant-skeleton-input {
    border-radius: 4px;
  }
}
