$primary-color: #3b82f6;
$secondary-color: #facc15;
$third-color: #ef4444;
$text-color: #1f2937;
$white-color: #ffffff;
$gray-color: #6b7280;

$max-mobile-width: 640px;
$max-tablet-width: 768px;
$max-desktop-width: 1024px;
